@use "../../abstracts/" as *;
.lineGraph {
  display: flex;
  justify-self: center;
  width: clamp(300px, 55vw, 1000px);
  height: clamp(300px, 35vw, 700px);
  background-color: $bg-tertiary-color;
  border-radius: $rounded;
  -webkit-box-shadow: 0px 0px 9px 3px $bg-secondary-color;
  box-shadow: 0px 0px 9px 3px $bg-secondary-color;
}

.lineGraph:hover,
.lineGraph:active {
  -webkit-box-shadow: 0px 0px 9px 3px $font-main-color;
  box-shadow: 0px 0px 9px 3px $font-main-color;
}
