@use "../../abstracts/" as *;

.stats-grid-container {
  margin-bottom: 2rem;
  & h3 {
    color: $font-main-color;
    font-size: clamp(1rem, 2vw, 1.5rem);
    text-align: center;
  }
}

.stats-grid-item {
  border-radius: $rounded;
  -webkit-box-shadow: 0px 0px 9px 3px $bg-secondary-color;
  box-shadow: 0px 0px 9px 3px $bg-secondary-color;
  background-color: $bg-tertiary-color;
  & h3 {
    color: $bg-secondary-color;
  }
}

.stats-grid-item:hover,
.stats-grid-item:focus {
  -webkit-box-shadow: 0px 0px 9px 3px $font-main-color;
  box-shadow: 0px 0px 9px 3px $font-main-color;
  cursor: pointer;
  & h3 {
    color: $font-main-color;
  }
}

.stats-grid-flex-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.planet-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  width: 100%;
}

.planet-flex-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & h3 {
    margin: 0;
    padding: 0;
  }
  & img {
    width: 10px;
  }
}

@media screen and (min-width: $breakpoint-medium) {
  .stats-grid-container {
    margin-right: 2rem;
  }
  .planet-container {
    grid-template-columns: repeat(
      auto-fill,
      minmax(clamp(70px, 10vw, 120px), 1fr)
    );
  }
  .planet-flex-box {
    & img {
      width: 35px;
    }
  }
}
