@use "../abstracts" as *;

.layout-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "header header"
    "sidebar main-top"
    "main-bottom main-top"
    "footer footer";
}

.header-wrapper {
  grid-area: header;
}

.asteroid {
  grid-area: sidebar;
}

.stats-div {
  grid-area: main-top;
}

.graph-div {
  grid-area: main-bottom;
}

.footer-wrapper {
  grid-area: footer;
}

@media screen and (min-width: $breakpoint-small-medium) {
  .layout-grid {
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas:
      "header header header"
      "sidebar main-top main-top"
      "sidebar main-bottom main-bottom"
      "footer footer footer";
  }
}
