@use "../abstracts" as *;

.main-wrapper {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax($minimum-grid-column-width, 1fr)
  );
  justify-items: center;
}

@media screen and (min-width: $breakpoint-medium) {
  .main-wrapper {
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 1fr;
  }
}
