@use "../../abstracts/" as *;

.header-container {
  width: 100%;
  & h1 {
    text-align: center;
  }
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  & span {
    cursor: pointer;
  }
}
.hide-prev {
  visibility: hidden;
}
.arrow-box {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}
