@use "../abstracts/" as *;

.button-container {
  display: flex;
  justify-content: space-evenly;
  & button {
    background-color: $bg-secondary-color;
    color: $bg-main-color;
    font-weight: 900;
    font-size: clamp(1rem, 2vw, 1.25rem);
    border-radius: $rounded;
    border-color: transparent;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  & button:active {
    transform: scale(0.8);
    background-color: $bg-main-color;
    color: $bg-secondary-color;
  }
}
